.navbar {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ff4242 ;
    position: fixed;
    top: 0;
    width: 100%;
    text-shadow: 2px 2px 5px blue;
    
  }
  
  .navbar a {
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
    line-height: 50px;
    transition: background-color 0.7s;
    border-radius: 4px;
    background-color:;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  body a:hover, .fa:hover {
    background-color:gold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      display: block;
    }
  }

p {
    font-size: 30px;
}

body {
    background-color: lightblue;
    margin: 0;
}

.imagetopdist {
    padding-top: 60px;
}

.imgsize {
    height: 15px;
}

.homeimg {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-top: 35px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

h2 {
text-align: center;
}

h4 {
    text-align: center;
    color: blue;
    font-family: sans-serif;
    font-size: 100%
}

h5 {
    text-align: center;
}

.hometext {
    padding: 5px;
    font-size: 30px;
}

.aboutetext {
    padding: 30px;
    font-size: 30px;
	list-style-type: square;
}

.aboutimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactpage {
    padding: 5px;
    text-align: center;
    font-size: large;
}

.contactimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.underconst {
	padding-top: 55px;
    width: auto;
    height: auto;
}

.textnav {
    float: left;
    font-size: 25px;
    color: white;
    padding: 5px;
    margin: 7px;
}

.column {
    display: inline-block;
    width: 220px;
    padding: 100px;
    height: 450px;
    background-color: darkgrey;
    overflow: hidden;
}

.allpro {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.dropdown {
    display: none;
    background-color: #ff4242;
    position: absolute;
    border-radius: 4px;
}

.links:hover .dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.links {
    position: relative;
    text-align: left;
    float: left;
} 

.register {
    justify-content: center;
    color: darkgray;
    border: 10px solid black;
}

.testone {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 500px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  }