.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
    line-height: 50px;
  }

  .navbar a:hover {
    background-color:gold;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  }

p {
    font-size: 30px;
}

body {
    background-color: lightblue;
    margin: 0;
}

.imagetopdist {
    padding-top: 60px;
}

.imgsize {
    height: 15px;
}

.homeimg {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-top: 35px;
}

.hometext {
    padding: 5px;
    font-size: 30px;
}

.aboutetext {
    padding: 5px;
    font-size: 30px;
}

.aboutimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactpage {
    padding: 5px;
    text-align: center;
    font-size: large;
    text-shadow: gold;

}

.contactimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}